.main {
	width: 70%;
	position: relative;
	margin-top: 3%;
	left: 13%;
}
#navname {
	height: auto;
	font-size: 1.25rem;
}
img {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
    #intro{
		padding-left: 1.3rem;
	}
  }
p{
	font-family: 'Roboto',sans-serif;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.post-title {
	font-size: 2.5rem;
}

article{
	font-family: 'Roboto',sans-serif;
	
}
article p strong{
	font-size: 1.2rem;
}

li {
	list-style: disc;
	margin-bottom: 1rem;
	font-size: 1rem;
}
ul{
	padding-left: 2.3rem;
}


